/* body {
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  height: auto;
  background-color: #0b0d12;
  margin: 0;
  padding: 0;
  color: aliceblue;
}
.menu {
  height: auto;
}
.menu ul {
  margin: 0;
}
.menu ul li {
  float: left;
  padding: 30px;
} */
